<div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
  <h3 class="font-medium text-2xl text-black dark:text-white">
      Update movie
  </h3>
</div>
<form autocomplete="off" novalidate [formGroup]="movieForm" (submit)="onSubmit()">
  <div class="p-6.5">
      <!-- title -->
      <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
              Movie title
          </label>
          <input type="text" placeholder="Enter movie title" formControlName="title"
              class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <div *ngIf="movieForm.get('title')?.invalid && (movieForm.get('title')?.dirty || movieForm.get('title')?.touched)"
              class="text-red-700">
              Please enter a valid movie title!
          </div>
      </div>
      <!-- year -->
      <div class="mb-4.5">
        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Year
        </label>
        <input type="text" placeholder="Enter year" formControlName="year"
            class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
        <div *ngIf="movieForm.get('year')?.invalid && (movieForm.get('year')?.dirty || movieForm.get('year')?.touched)"
            class="text-red-700">
            Please enter a valid year!
        </div>
    </div>
    <!-- imdbId -->
    <div class="mb-4.5">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
          Imdb Id
      </label>
      <input type="text" placeholder="Enter movie imdb id" formControlName="imdbId"
          class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
      <div *ngIf="movieForm.get('imdbId')?.invalid && (movieForm.get('imdbId')?.dirty || movieForm.get('imdbId')?.touched)"
          class="text-red-700">
          Please enter a valid movie imdb id!
      </div>
  </div>
  <!-- rated -->
      <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
              Rated
          </label>
          <input type="text" placeholder="Enter rated" formControlName="rated"
              class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <div *ngIf="movieForm.get('rated')?.invalid && (movieForm.get('rated')?.dirty || movieForm.get('rated')?.touched)"
              class="text-red-700">
              Please enter a valid movie rated!
          </div>
      </div>
      <!-- released -->
      <div class="mb-4.5">
        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Released
        </label>
        <input type="text" placeholder="Enter released" formControlName="released"
            class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
        <div *ngIf="movieForm.get('released')?.invalid && (movieForm.get('released')?.dirty || movieForm.get('released')?.touched)"
            class="text-red-700">
            Please enter a valid released!
        </div>
    </div>
    <!-- runtime -->
    <div class="mb-4.5">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
          Runtime
      </label>
      <input type="text" placeholder="Enter runtime" formControlName="runtime"
          class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
      <div *ngIf="movieForm.get('runtime')?.invalid && (movieForm.get('runtime')?.dirty || movieForm.get('runtime')?.touched)"
          class="text-red-700">
          Please enter a valid runtime!
      </div>
  </div>
  <!-- plot -->
  <div class="mb-4.5">
    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        Plot
    </label>
    <input type="text" placeholder="Enter plot" formControlName="plot"
        class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
    <div *ngIf="movieForm.get('plot')?.invalid && (movieForm.get('plot')?.dirty || movieForm.get('plot')?.touched)"
        class="text-red-700">
        Please enter a valid plot!
    </div>
</div>
<!-- awards -->
<div class="mb-4.5">
  <label class="mb-3 block text-sm font-medium text-black dark:text-white">
      Awards
  </label>
  <input type="text" placeholder="Enter awards" formControlName="awards"
      class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
  <div *ngIf="movieForm.get('awards')?.invalid && (movieForm.get('awards')?.dirty || movieForm.get('awards')?.touched)"
      class="text-red-700">
      Please enter a valid awards!
  </div>
</div>
<!-- poster -->
<div class="mb-4.5">
  <label class="mb-3 block text-sm font-medium text-black dark:text-white">
      Poster
  </label>
  <input type="text" placeholder="Enter poster" formControlName="poster"
      class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
  <div *ngIf="movieForm.get('poster')?.invalid && (movieForm.get('poster')?.dirty || movieForm.get('poster')?.touched)"
      class="text-red-700">
      Please enter a valid poster!
  </div>
</div>
      <!-- price -->
      <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
              Price (&dollar;)
          </label>
          <input type="number" min="0" step="0.1" placeholder="Enter movie price" formControlName="price"
              class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <div *ngIf="movieForm.get('price')?.invalid && (movieForm.get('price')?.dirty || movieForm.get('price')?.touched)"
              class="text-red-700">
              Please enter a valid price!
          </div>
      </div>
      <!-- trailer -->
      <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
              Trailer
          </label>
          <input type="text" placeholder="Enter trailer link" formControlName="trailer"
              class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <div *ngIf="movieForm.get('trailer')?.invalid && (movieForm.get('trailer')?.dirty || movieForm.get('trailer')?.touched)"
              class="text-red-700">
              Please enter a valid trailer url!
          </div>
      </div>
      <!-- writers -->
    <div class="mb-4.5">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        Writers
      </label>
      <div formArrayName="writers">
        <div *ngFor="let writer of writers.controls; let i = index" class="flex items-center mb-2">
          <input type="text" [formControlName]="i"
            class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <button type="button" class="ml-2" (click)="removeWriter(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addWriter()">Add Writer</button>
    </div>
    <!-- actors -->
    <div class="mb-4.5">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        Actors
      </label>
      <div formArrayName="actors">
        <div *ngFor="let actor of actors.controls; let i = index" class="flex items-center mb-2">
          <input type="text" [formControlName]="i"
            class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <button type="button" class="ml-2" (click)="removeActor(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addActor()">Add Actor</button>
    </div>
    <!-- directors -->
    <div class="mb-4.5">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        Directors
      </label>
      <div formArrayName="directors">
        <div *ngFor="let director of directors.controls; let i = index" class="flex items-center mb-2">
          <input type="text" [formControlName]="i"
            class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <button type="button" class="ml-2" (click)="removeDirector(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addDirector()">Add Director</button>
    </div>
    <!-- genres -->
    <div class="mb-4.5">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        Writers
      </label>
      <div formArrayName="genres">
        <div *ngFor="let genre of genres.controls; let i = index" class="flex items-center mb-2">
          <input type="text" [formControlName]="i"
            class="rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
          <button type="button" class="ml-2" (click)="removeGenres(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addGenre()">Add Genre</button>
    </div>
      <!-- movie button -->
      <button
          class="flex justify-center rounded bg-primary p-3 font-medium text-gray hover:bg-opacity-90"
          type="submit" [disabled]="movieForm.invalid">
          Save
      </button>
  </div>
</form>