<form autocomplete="off" novalidate [formGroup]="changePassForm" (submit)="submitChangePassword()">
    <h3 class="font-bold text-lg mb-10">Change Password</h3>

    <!-- old password -->
    <div class="mb-4.5">
        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Old Password
        </label>
        <input type="password" placeholder="Enter password" formControlName="oldPassword"
            class="w-1/2 rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
        <div *ngIf="changePassForm.get('oldPassword')?.invalid && (changePassForm.get('oldPassword')?.dirty || changePassForm.get('oldPpassword')?.touched)"
            class="text-red-700">
            Please enter a valid password!
        </div>
    </div>
    <!-- new password -->
    <div class="mb-4.5">
        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            New Password
        </label>
        <input type="password" placeholder="Enter password" formControlName="newPassword"
            class="w-1/2 rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
        <div *ngIf="changePassForm.get('newPassword')?.invalid && (changePassForm.get('newPassword')?.dirty || changePassForm.get('newPpassword')?.touched)"
            class="text-red-700">
            Please enter a valid password!
        </div>
    </div>
    <!-- password retype -->
    <div class="mb-5.5">
        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Re-type Password
        </label>
        <input type="password" placeholder="Re-enter password" formControlName="reTypePassword"
            class="w-1/2 rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
        <div *ngIf="changePassForm.get('reTypePassword')?.invalid && (changePassForm.get('reTypePassword')?.dirty || changePassForm.get('reTypePassword')?.touched)"
            class="text-red-700">
            Password not match!
        </div>
    </div>

    <div class="mt-5 flex justify-end">
        <button type="submit" class="btn btn-primary" [disabled]="changePassForm.invalid">submit</button>
    </div>
</form>
