<section *ngIf="movie" class="flex flex-wrap">
    <div class="w-full md:w-2/5 mb-8">
      <img
        class="object-cover p-1 ring-2 ring-red-300 dark:ring-black-500 w-full"
        [src]="
          movie.poster
            ? movie.poster
            : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'
        "
        alt="Bordered poster"
      />
    </div>
    <div class="w-full md:w-3/5 bg-white p-3 shadow-md rounded-sm">
      <div
        class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-5"
      >
        <span class="text-green-500">
          <svg
            class="h-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            ></path>
          </svg>
        </span>
        <span class="tracking-wide text-xl underline underline-offset-4">
          Details
        </span>
      </div>
      <div class="text-gray-700">
        <div class="grid md:grid-cols-2 text-sm">
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">ID</div>
            <div class="px-4 py-2">{{ movie.id }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Movie title</div>
            <div class="px-4 py-2">{{ movie.movieTitle }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Released</div>
            <div class="px-4 py-2">{{ movie.released }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Rated</div>
            <div class="px-4 py-2">{{ movie.rated }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Plot</div>
            <div class="px-4 py-2">{{ movie.plot }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Awards</div>
            <div class="px-4 py-2">{{ movie.awards }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Runtime</div>
            <div class="px-4 py-2">{{ movie.runtime }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Price</div>
            <div class="px-4 py-2">{{ movie.price }}(&dollar;)</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Actor</div>
            <div class="px-4 py-2">
              <span *ngFor="let actor of movie.actors" class="lowercase">
                {{ actor }}
              </span>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Director</div>
            <div class="px-4 py-2">
              <span *ngFor="let director of movie.directors" class="lowercase">
                {{ director }}
              </span>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Writer</div>
            <div class="px-4 py-2">
              <span *ngFor="let writer of movie.writers" class="lowercase">
                {{ writer }}
              </span>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Genre</div>
            <div class="px-4 py-2">
              <span *ngFor="let genre of movie.genres" class="lowercase">
                {{ genre }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  